* {
    margin: 0;
    padding: 0;

}

body {
    background-color: rgb(0, 0, 19);
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: linear-gradient(rgb(17, 8, 29), rgb(45, 21, 77));
}

nav .myImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.myImg img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.right a {
    border: 1px solid white;
    padding: 10px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.right a:hover {
    color: rgb(20, 5, 34);
    /* background-color: rgb(119, 24, 119); */
    border: none;
    background: linear-gradient(rgb(119, 24, 119), rgb(45, 21, 77));
}

.left {
    font-size: 1.5rem;
}

main .hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.education {
    text-align: center;
    margin-top: 60px;
}

.education h1 {
    width: 40%;
    height: 40px;
    background: linear-gradient(rgb(17, 8, 29), rgb(45, 21, 77));
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 5%;
    text-align: center;
}

.fsDiv {
    text-align: center;
    display: flex;
}

.tenth {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    width: 25%;
    background: radial-gradient(rgb(44, 14, 83), rgb(37, 13, 70), rgb(11, 0, 19));
    margin-left: 30px;
}

.tenth h2 {
    margin-bottom: 2%;
}

.tenth p {
    margin-top: 2%;
}

.tenth a,
i {
    color: white;
    text-decoration: none;
    margin: 25px 0px 0px 8px;
}

.twelth {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    width: 25%;
    background: radial-gradient(rgb(44, 14, 83), rgb(37, 13, 70), rgb(11, 0, 19));
    margin: 5px;
}

.twelth h2 {
    margin-bottom: 2%;
}

.twelth p {
    margin-top: 2%;
}

.twelth a,
i {
    color: white;
    text-decoration: none;
    margin: 25px 0px 0px 8px;
}

.bCom {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    width: 25%;
    background: radial-gradient(rgb(44, 14, 83), rgb(37, 13, 70), rgb(11, 0, 19));
    margin: 5px;
}

.bCom h2 {
    margin-bottom: 2%;
}

.bCom p {
    margin-top: 2%;
}

.bCom a,
i {
    color: white;
    text-decoration: none;
    margin: 25px 0px 0px 8px;
}

.pQual hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 10px 533px 40px;
    width: 20%;
    
}

.pQual h2 {
    text-align: center;
    margin-top: 50px;
}

.developing {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    width: 25%;
    background: radial-gradient(rgb(44, 14, 83), rgb(37, 13, 70), rgb(11, 0, 19));
    margin-left: 455px;
}

.developing h2 {
    margin-bottom: 2%;
}

.developing p {
    margin-top: 2%;
}

.developing a,
i {
    color: white;
    text-decoration: none;
    margin: 25px 0px 0px 8px;
}

.hobby {
    text-align: center;
    margin-top: 60px;
}

.hobby h1 {
    width: 40%;
    height: 40px;
    background: linear-gradient(rgb(17, 8, 29), rgb(45, 21, 77));
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 5%;
    text-align: center;
}

.fitness {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    width: 25%;
    background: radial-gradient(rgb(44, 14, 83), rgb(37, 13, 70), rgb(11, 0, 19));
    margin-left: 455px;
}

.fitness p {
    margin-top: 20px;
}

.fitness h2 {
    margin-bottom: 2%;
}

.fitness ol {
    margin-top: 10px;
}
.music {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    width: 25%;
    background: radial-gradient(rgb(44, 14, 83), rgb(37, 13, 70), rgb(11, 0, 19));
    margin-left: 455px;
    margin-top: 40px;
}

.music p {
    margin-top: 20px;
}

.music h2 {
    margin-bottom: 2%;
}

.music ol {
    margin-top: 20px;
}

.movies {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    width: 25%;
    background: radial-gradient(rgb(44, 14, 83), rgb(37, 13, 70), rgb(11, 0, 19));
    margin-left: 455px;
    margin-top: 40px;
}

.movies p {
    margin-top: 20px;
}

.movies h2 {
    margin-bottom: 2%;
}

.movies ol {
    margin-top: 20px;
}

.travel {
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    width: 25%;
    background: radial-gradient(rgb(44, 14, 83), rgb(37, 13, 70), rgb(11, 0, 19));
    margin-left: 455px;
    margin-top: 40px;
}

.travel h2 {
    margin-bottom: 2%;
}

.travel ol {
    margin-top: 20px;
}

.travel p {
    margin-top: 20px;
}










footer {
    margin-top: 50px;
    background: linear-gradient(rgb(15, 5, 29), rgb(45, 21, 77));
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.footer ul {
    list-style: none;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer>div {
    width: 223px;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}